.project{
    display: flex;
    flex-direction: column;
    gap:5rem;
    flex: 1;
    margin-top: 5rem;
    align-items: center;
}

.project__intro-text{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.project__container{
    gap:2rem;
    display: flex;
}

.project__image {
  width: 45%;
  height: 50%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__title{
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: 500;
}

.project__info{ 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project__date-title{
    font-weight: 500;
}
.project__client-title{
    font-weight: 500;
}