.container{
    justify-content: center;
}

.task-header{
    display: flex;
    gap: 2rem;
    align-items: center;
    
}
.list-title{
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

/* Button */
.btn{
    background-color: #6F3FF1;
    color: white;
    padding-inline: 2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 2rem;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: #612eec; 
}

.btn:active{
    transform: scale(0.97);
}

/* modal */
.modal{
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.container-modal{
    
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: auto;
}

.task-title{
    font-size: 0.9rem;
    padding: 1.2rem;    
}


.task-title-details{
    padding: 1.2rem;
    font-size: 0.8rem;
    color: #99A1A8;
}

.form{
    padding: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.form-row{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-row label{
    font-size: 0.9rem;
    color: #7A7F94;
}

.form-row select {
  appearance: none;      
  -webkit-appearance: none; 
  -moz-appearance: none;   
  padding: 0.4rem;
  padding-right: 1.5rem; 
  border: 1px solid #ccc;   
  border-radius: 0.2rem;
  background-color: #F9FBFC;  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23626d79' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"); /* seta */
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.6rem;
}

.form-row input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  background-color: #F9FBFC;
}

.btn-cancel{
    width: 6rem;
    background-color: white;
    border: 1px solid #ccc;   
    border-radius: 0.4rem;
    cursor: pointer;
    height: 2rem;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-cancel:hover {
  background-color: #F9FBFC; 
}

.btn-cancel:active{
    transform: scale(0.97);
}

.btn-save{
    justify-self: end;
    color: white;
    width: 6rem;
    background-color: #612eec;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 2rem;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: #612eec; 
}

.btn-save:active{
    transform: scale(0.97);
}


/* Header e tarefas */
.task-list-header,
.task-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; 
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.task-item p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;            
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.task-list-header p {
    border: 1px solid #612eec62;
    border-radius: 0.6rem;
    padding: 1.2rem;
}


.priority-cell {
  height: 1px;
  border-radius: 0.5rem;
  color: black; 
  font-weight: 500;
}

.priority-low {
  background-color: rgba(0, 255, 0, 0.544);
}

.priority-medium {
  background-color: rgba(255, 230, 0, 0.503);
}

.priority-high {
  background-color: rgba(253, 0, 0, 0.514);
}

/* botão excluir */
.delete-btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #af2617;
}

.complete-btn {
  background-color: #008b1a;  
  border: none;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.complete-btn:hover {
  background-color: #005412;  
}



#no-tasks {
  text-align: center;
  color: #626d79;
  font-style: italic;
  margin-top: 1rem;
}

.task-item.completed {
    opacity: 0.6;            
}

.task-item.completed p {
    text-decoration: line-through; 
}

@media (max-width: 940px) {
  .task-header {
    display: flex;
    flex-wrap: wrap;      
    gap: 1rem;
    justify-content: start;
  }
}

@media (max-width: 870px) {
    .task-list-header p,
    .task-item p{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .task-item p{
      font-size: 0.8rem;
    }

    .delete-btn, .complete-btn{
        width: 2rem;
        font-size: 0.3rem;
    }
}


@media (max-width: 660px) {
    .task-list-header p,
    .task-item p{
        gap: 0.3rem;
        font-size: 0.5rem;
        
    }

    .delete-btn, .complete-btn{
        width: 1rem;
        font-size: 0rem;
    }
}

@media (max-width: 440px){
     .form{
        display: flex;
        flex-direction: column;
    }

}



