.button-primary {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid transparent; 
    border-radius: 0.3rem;
    color: white;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    width: 10rem;
}

.button-primary:hover {
    background-color: white;
    color: var(--color-primary);
    border-color: var(--color-primary);
    transform: scale(1.05); 
}