main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:32px;
    align-items: center;
    flex: 1;
}

.intro-text{
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.name{
    color: var(--color-text);
    font-size: 3rem;
    font-weight: bold;   
}

.role{
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.description{
    grid-column: 1;
    
}

.summary{
    margin-bottom: 1rem;
}

.experience-list{
    margin-bottom: 1rem;
}

.img_victor{
    grid-column: 2;
    background-color:var(--color-primary);
    height: 400px;
}

.icons{
    display: flex;
    gap: 1rem;
}

.icons svg {
  width: 1.5rem; 
  height: 1.5rem;  
}

.icons svg:hover{
    color:var(--color-primary);
    cursor: pointer;
    transition-duration: 0.3s;
}