* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Jost", sans-serif;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}