nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size: 1.75rem;
    font-weight: 500;
}

.menu{
    display: flex;
    gap: 34px;
    font-size: 1.125rem;
}

hr{
    background-color: #BE6120;
    border: none;
    height: 1px;
}

a{
    text-decoration: none;
    color: #2C2C2C;
}

ul{
    list-style: none;  
}

a:hover{
    color: #BE6120;
    transition-duration: 0.2s;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:32px;
    align-items: center;
    flex: 1;
}

p{
    font-size: 1rem;
}

footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}